.grid-container {
    display: grid;
    grid-gap: 5px;  
}
.item1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    grid-column: 1/ 5;
    background-image: linear-gradient(#ee11bb, #BA68C8);
    border: black ridge 4px;
    border-radius: 10px;
    padding: 10px;
}

.item2 {
    grid-column: 1/ 5;
    text-align: center;
    font-family: 'Sriracha', cursive;
    background-image: linear-gradient( #ee11bb, #BA68C8);
    border: black ridge 4px;
    border-radius: 10px;   
}
img {
    display: block;
    float: left;
    margin-bottom: 20px;

}
.item2:hover {
    margin: 50px;
    box-shadow: 10px 10px black;
}
.item3 {
    display: flex;
    grid-column: 1/ 5;
    text-align: center;
    background-image: linear-gradient(#BA68C8, #ee11bb);
    border: black ridge 4px;
    border-radius: 10px;
}
.img2 {
    display: block;
    margin-bottom: 10px;
    margin-left: 60px;
}
.item4 {
    text-align: center;
    background-image:linear-gradient(#BA68C8, #ee11bb);
    grid-column: 1/ 5;
    border: black ridge 4px;
    border-radius: 10px;
}
.item5 {
    grid-column: 1/ 5;
    text-align: center;
    background-image: linear-gradient(#BA68C8, #ee11bb);
    border-radius: 10px;
    border: black ridge 4px;
}
@media only screen and (min-width: 600px) {
    /*For Tablets:*/
    .item1 {grid-column: 1 / 5;}
    .item2 {grid-column: 1 / 5;}
    .item3 {grid-column: 1/ 2;}
    .item4 {grid-column: 3 / 5;}
    .item5 {grid-column: 1 / 5;}
    img {margin-bottom: 10px;}
}