.grid-container {
    display: grid;
    column-gap: 5px;
}
.grid-item {
    margin: 10px;
}
h1 {
    text-align: center;
}
.item1 {
    grid-column: 1/ 2;
    background-color: blueviolet;
    border-radius: 30px;
    margin: 5px;
}
.item2 {
    grid-column: 2/ 3;
    background-color: #EE2E84;
    border-radius: 30px;
}
.item3 {
    grid-column: 1/ 2;
    background-color: cornflowerblue;
    border-radius: 30px;
}
.item4 {
    grid-column: 2/ 3;
    background-color: #66B032;
    border-radius: 30px;
}
.item5 {
    grid-column: 1/ 2;
    background-color: #FEFE16;
    border-radius: 30px;
}
.item6 {
    grid-column: 2/ 3;
    background-color: #FC5A03;
    border-radius: 30px;
    margin: 10px;
}
.item1:hover {
    border: black double 5px;
    background-color: red;
    border-radius: 10px;
}
.item2:hover {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border: lightpink dotted 10px;
}
.item3:hover {
    background-image: linear-gradient(blue, yellow);
    box-shadow: 10px 10px black;
    width: 500px;
}
.item4:hover {
    color: whitesmoke;
    border: ridge brown 10px;
    border-width: large;
}
.item5:hover {
    border-width: 5px;  
    border-style:dotted solid double dashed;
    color: blue;
    border-radius: unset;
}
.item6:hover {
    transition: margin-right .5s ease-in-out .5s;
    margin-left: 30px;
    text-shadow: 10px whitesmoke;
}