.nav-bar {
    overflow: visible;
    background-color: lightblue;
    position: fixed;
    top: 0%;
    text-align: center;
    width: 100%;
}
body {
    background-image: url(https://p2.piqsels.com/preview/447/494/530/background-green-gardening-spring.jpg);
    background-repeat: no-repeat;
     background-position: top;
     background-size: cover;
     background-attachment: fixed;
}

