.nav-bar {
    overflow: visible;
    background-color: lightblue;
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
}
main {
    background-image: ("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRao7BJi76zwWOhV72-IzvQnGlqHRgdYuWQoQ&usqp=CAU");
    

}
